*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #324a76;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-register {  
    width: 300px;
}