*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    font-family: sans-serif;
}

.menu {
    background: #333;
    border-bottom: 2px solid #ccc;
    position: relative;
}

.menu .link {
    display: flex;
    /* display: block; */
}

.link > .item {
    display: inline-block;
    list-style: none;
}

.link > .item > a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}

.link > .item > a:hover {
    background: #ccc;
}

li.item .nav-link:hover{
    /* display: block; */
}

.nav-link {
    position: absolute;
    top: 38px;
    right: 0;
    left: 0;
    /* display: none; */
}

.nav-item {
    list-style: none;
    /* display: inline-block; */
    background: #ccc;
}

.nav-item a {
    display: inline-block;
    color: #333;
    text-decoration: none;
}