*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.menu {
    background: #ccc;
    border-bottom: 2px solid #333;
}

.menu .link {
    display: flex;
    /* display: block; */
}

.link .item {
    display: block;
    padding: 10px;
}

.link .item a {
    text-decoration: none;
    color: #fff;
}

.nav-link {
    display: none;
}