*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #e5b895;
    --white-color: #fff;
    --main-background:#343436;
    --text-color:#d1cece;
    --hover-color:#bd0a0a;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-background);
    height: 55px;
}

.header-logo {

}

.header-logo > .heading {
    padding: 15px 40px;
    font-size: 20px;
    color: var(--main-color);
}

.heading span {
    color: var(--white-color);
    padding-left: 3px;
}

.header-nav {
    display: block;
}

.nav-link {
    display: flex;
}

.nav-item {
    display: block;
}

.nav-item a {
    padding: 0 20px;
    color: var(--white-color);
    text-decoration: none;
    display: block;
    line-height: 55px;
}

.nav-item a:hover {
    background: var(--hover-color);
}

/* Container */
main {
    padding-top: 55px;

}

.container {
    min-height: 5000px;
}

.about {

}

.about-img {
    position: relative;
    top: 0; 
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    /* z-index: 1; */
}

.about-img img {
    
    opacity: .8;
    /* bottom: 53px; */
    object-fit: cover;
}


.about-introduce {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    
}

.about-heading {
    color: var(--main-color);
    font-size: 28px;
    font-weight: 600;
}

.about-heading span {
    color: #fff;
    padding-left: 5px;
}

.about-text {
    padding: 20px 0;
    font-size: 15px;
    color: var(--text-color);
    line-height: 20px;
}

.about-btn {
    background: var(--main-background);
    color: var(--text-color);
    padding: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.about-btn:hover {
    background-color: var(--hover-color);
    color: var(--white-color);
    transition: ease .4;
}

/* history */

.history {
    display: flex;
}

.history-img {
    flex: 1;
}

.history-img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.myHistory {
    flex: 1;
    height: 450px;
    text-align: center;
    padding: 100px 15px 40px 15px;
    background: var(--main-background);
}


.myHistory-heading {
    color: var(--main-color);
}

.myHistory-heading span {
    padding-left: 5px;
    color: var(--white-color);
}

.myHistory-text {
    color: var(--text-color);
    margin-top: 15px;
}

.myHistory-btn {
    border: none;
    background-color: var(--white-color);
    color: #000;
    padding: 10px;
    margin-top: 15px;
}

.myHistory-btn:hover {
    background-color: var(--hover-color);
    color: var(--white-color);
}

/* Location */
.location {
    display: flex;
}

.location-item {
    flex: 1;
    text-align: center;
    padding: 20px;
}